@font-face {
    font-family: "Red Hat Display";
    src: url("../fonts/RedHot/RedHatDisplay-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Monro/Manrope-VariableFont_wght.ttf");
  }
